.perfil-container {
    display: flex;
}

.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 250px;
    height: 100%;
    background-color: #f1f1f1;
    padding: 20px;
    box-sizing: border-box;
}

.content {
    margin-top: 50px;

    margin-left: 270px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;

}

.sidebar a:first-of-type {
    margin-top: 100px;

}

.sidebar a {
    display: block;
    margin-bottom: 30px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

.sidebar a:hover {
    color: #0077cc;
}

.user-profile,
.order-history {
    font-size: 20px;
}

.fa-solid,
.fa-shopping-cart {
    margin-right: 10px;
}