.historial-pedidos-title {
    color: #0077cc;
    font-size: 24px;
    margin-bottom: 20px;
    margin-left: 20px;
    font-weight: bold;
    border-left: 4px solid #0077cc;
    padding-left: 8px;
}

.historial-pedidos-container {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #ffffff;
    padding: 20px;
    margin: 20px;

}


.historial-pedidos {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 8px;
}

.historial-pedidos ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.historial-pedidos li {
    margin-bottom: 16px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s;
}

.historial-pedidos li:hover {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.historial-pedidos li:last-of-type {
    margin-bottom: 0;

}